.App {
    text-align: center;
}

.mission {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thegoal {
    display: flex;
    width: 80%;
    font-size: 0.8rem;
}
